### Downloading the stock data

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
nifty_50_stocks = [
    "ADANIPORTS.NS", "APOLLOHOSP.NS", "ASIANPAINT.NS", "AXISBANK.NS", "BAJAJ-AUTO.NS",
    "BAJFINANCE.NS", "BAJAJFINSV.NS", "BPCL.NS", "BHARTIARTL.NS", "BRITANNIA.NS",
    "CIPLA.NS", "COALINDIA.NS", "DIVISLAB.NS", "DRREDDY.NS", "EICHERMOT.NS",
    "GRASIM.NS", "HCLTECH.NS", "HDFCBANK.NS", "HDFCLIFE.NS",
    "HEROMOTOCO.NS", "HINDALCO.NS", "HINDUNILVR.NS", "ICICIBANK.NS", "ITC.NS",
    "INDUSINDBK.NS", "INFY.NS", "JSWSTEEL.NS", "KOTAKBANK.NS", "LT.NS",
    "M&M.NS", "MARUTI.NS", "NTPC.NS", "NESTLEIND.NS", "ONGC.NS",
    "POWERGRID.NS", "RELIANCE.NS", "SBIN.NS", "SUNPHARMA.NS", "TCS.NS",
    "TATACONSUM.NS", "TATAMOTORS.NS", "TATASTEEL.NS", "TECHM.NS", "TITAN.NS",
    "ULTRACEMCO.NS", "UPL.NS", "WIPRO.NS", "SBILIFE.NS"
]

In [3]:
nifty_midcap_50_stocks = [
    "ABB.NS", "AARTIIND.NS", "ALKEM.NS", "APLAPOLLO.NS", "AUROPHARMA.NS",
    "BALKRISIND.NS", "BANKINDIA.NS", "BATAINDIA.NS", "BEL.NS", "CANBK.NS",
    "CASTROLIND.NS", "CHOLAFIN.NS", "CONCOR.NS", "CROMPTON.NS", "CUB.NS",
    "DALBHARAT.NS", "DEEPAKNTR.NS", "ESCORTS.NS", "FEDERALBNK.NS", "GODREJPROP.NS",
    "HAL.NS", "HINDPETRO.NS", "IDFCFIRSTB.NS", "INDHOTEL.NS", "LICHSGFIN.NS",
    "LTTS.NS", "MANAPPURAM.NS", "M&MFIN.NS", "MFSL.NS", "NAM-INDIA.NS",
    "OBEROIRLTY.NS", "PAGEIND.NS", "PFIZER.NS", "PERSISTENT.NS", "POLYCAB.NS",
    "RAMCOCEM.NS", "SRF.NS", "SUNTV.NS", "SYNGENE.NS", "TORNTPOWER.NS",
    "TRENT.NS", "TVSMOTOR.NS", "UBL.NS", "UNIONBANK.NS", "VOLTAS.NS",
    "WHIRLPOOL.NS", "ZEEL.NS"]

In [4]:
nifty_smallcap_50_stocks = [
    "ALKYLAMINE.NS", "ASTERDM.NS", "BAJAJELEC.NS", "BALAMINES.NS", "BASF.NS",
    "BIRLACORPN.NS", "BLUEDART.NS", "CAMS.NS", "CENTURYPLY.NS", "CREDITACC.NS",
    "DCAL.NS", "DCMSHRIRAM.NS", "DELTACORP.NS", "DISHTV.NS", "EIDPARRY.NS",
    "FLUOROCHEM.NS", "GICRE.NS", "GRAPHITE.NS", "HATSUN.NS", "HIKAL.NS",
    "IIFL.NS", "INDIANB.NS", "INDOCO.NS", "JINDALSAW.NS", "KPRMILL.NS",
    "KRBL.NS", "LAURUSLABS.NS", "MAHSCOOTER.NS", "MASTEK.NS", "METROPOLIS.NS",
    "MMTC.NS", "MPSLTD.NS", "NCC.NS", "ORIENTELEC.NS", "PNBHOUSING.NS",
    "RALLIS.NS", "RITES.NS", "RVNL.NS", "SOBHA.NS", "SOUTHBANK.NS",
    "STLTECH.NS", "SUPRAJIT.NS", "TATAMETALI.NS", "UJJIVAN.NS", "VGUARD.NS",
    "WELCORP.NS", "ZENSARTECH.NS"
]

In [5]:
all_stocks = nifty_50_stocks + nifty_midcap_50_stocks + nifty_smallcap_50_stocks
start_date = "2020-01-01"
end_date = datetime.today().strftime('%Y-%m-%d')
stock_data = yf.download(all_stocks, start=start_date, end=end_date)['Adj Close']

[*********************100%***********************]  142 of 142 completed

In [6]:
stock_data_transposed = stock_data.T

In [7]:
stock_data_transposed.reset_index(inplace=True)

In [8]:
stock_data_transposed.rename(columns={'index': 'Stock Name'}, inplace=True)

In [9]:
stock_data_transposed.head()

Date,Ticker,2020-01-01 00:00:00+00:00,2020-01-02 00:00:00+00:00,2020-01-03 00:00:00+00:00,2020-01-06 00:00:00+00:00,2020-01-07 00:00:00+00:00,2020-01-08 00:00:00+00:00,2020-01-09 00:00:00+00:00,2020-01-10 00:00:00+00:00,2020-01-13 00:00:00+00:00,...,2024-10-07 00:00:00+00:00,2024-10-08 00:00:00+00:00,2024-10-09 00:00:00+00:00,2024-10-10 00:00:00+00:00,2024-10-11 00:00:00+00:00,2024-10-14 00:00:00+00:00,2024-10-15 00:00:00+00:00,2024-10-16 00:00:00+00:00,2024-10-17 00:00:00+00:00,2024-10-18 00:00:00+00:00
0,AARTIIND.NS,411.987122,413.191895,413.413177,420.912354,438.762848,433.083160,452.630188,424.797150,416.634155,...,530.950012,537.849976,530.099976,526.950012,529.200012,533.299988,539.000000,534.150024,520.849976,524.250000
1,ABB.NS,1253.960205,1258.042847,1285.309326,1251.043945,1270.242310,1274.081787,1285.163330,1334.058105,1338.383911,...,7758.299805,8154.649902,8458.049805,8510.299805,8553.700195,8570.500000,8648.299805,8769.349609,8690.700195,8783.000000
2,ADANIPORTS.NS,364.348328,369.654602,369.027466,366.808502,371.246460,372.066528,377.999878,378.241089,376.601013,...,1355.199951,1418.550049,1408.150024,1417.199951,1408.250000,1410.300049,1420.300049,1403.800049,1394.699951,1405.599976
3,ALKEM.NS,1993.684082,1996.363892,2004.978271,2000.096924,2026.515259,2033.119995,2057.049805,2161.191895,2239.346680,...,6160.250000,6250.850098,6294.100098,6137.100098,6191.299805,6251.450195,6265.500000,6094.299805,6023.000000,6132.750000
4,ALKYLAMINE.NS,428.863800,453.728851,453.300171,445.174164,483.913788,481.302582,491.630493,489.623383,485.414276,...,2199.500000,2261.899902,2294.850098,2300.250000,2277.149902,2335.699951,2331.050049,2329.100098,2250.300049,2237.600098

In [12]:
stock_data_transposed.rename(columns={'Ticker': 'Stock Name'}, inplace=True)

In [13]:
stocks = pd.DataFrame(stock_data_transposed)
stocks.head()

Date,Stock Name,2020-01-01 00:00:00+00:00,2020-01-02 00:00:00+00:00,2020-01-03 00:00:00+00:00,2020-01-06 00:00:00+00:00,2020-01-07 00:00:00+00:00,2020-01-08 00:00:00+00:00,2020-01-09 00:00:00+00:00,2020-01-10 00:00:00+00:00,2020-01-13 00:00:00+00:00,...,2024-10-07 00:00:00+00:00,2024-10-08 00:00:00+00:00,2024-10-09 00:00:00+00:00,2024-10-10 00:00:00+00:00,2024-10-11 00:00:00+00:00,2024-10-14 00:00:00+00:00,2024-10-15 00:00:00+00:00,2024-10-16 00:00:00+00:00,2024-10-17 00:00:00+00:00,2024-10-18 00:00:00+00:00
0,AARTIIND.NS,411.987122,413.191895,413.413177,420.912354,438.762848,433.083160,452.630188,424.797150,416.634155,...,530.950012,537.849976,530.099976,526.950012,529.200012,533.299988,539.000000,534.150024,520.849976,524.250000
1,ABB.NS,1253.960205,1258.042847,1285.309326,1251.043945,1270.242310,1274.081787,1285.163330,1334.058105,1338.383911,...,7758.299805,8154.649902,8458.049805,8510.299805,8553.700195,8570.500000,8648.299805,8769.349609,8690.700195,8783.000000
2,ADANIPORTS.NS,364.348328,369.654602,369.027466,366.808502,371.246460,372.066528,377.999878,378.241089,376.601013,...,1355.199951,1418.550049,1408.150024,1417.199951,1408.250000,1410.300049,1420.300049,1403.800049,1394.699951,1405.599976
3,ALKEM.NS,1993.684082,1996.363892,2004.978271,2000.096924,2026.515259,2033.119995,2057.049805,2161.191895,2239.346680,...,6160.250000,6250.850098,6294.100098,6137.100098,6191.299805,6251.450195,6265.500000,6094.299805,6023.000000,6132.750000
4,ALKYLAMINE.NS,428.863800,453.728851,453.300171,445.174164,483.913788,481.302582,491.630493,489.623383,485.414276,...,2199.500000,2261.899902,2294.850098,2300.250000,2277.149902,2335.699951,2331.050049,2329.100098,2250.300049,2237.600098

In [14]:
stocks.to_csv('stocks.csv', index=False)