### Downloading the stock data

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
nifty_50_stocks = [
    "ADANIPORTS.NS", "APOLLOHOSP.NS", "ASIANPAINT.NS", "AXISBANK.NS", "BAJAJ-AUTO.NS",
    "BAJFINANCE.NS", "BAJAJFINSV.NS", "BPCL.NS", "BHARTIARTL.NS", "BRITANNIA.NS",
    "CIPLA.NS", "COALINDIA.NS", "DIVISLAB.NS", "DRREDDY.NS", "EICHERMOT.NS",
    "GRASIM.NS", "HCLTECH.NS", "HDFCBANK.NS", "HDFCLIFE.NS",
    "HEROMOTOCO.NS", "HINDALCO.NS", "HINDUNILVR.NS", "ICICIBANK.NS", "ITC.NS",
    "INDUSINDBK.NS", "INFY.NS", "JSWSTEEL.NS", "KOTAKBANK.NS", "LT.NS",
    "M&M.NS", "MARUTI.NS", "NTPC.NS", "NESTLEIND.NS", "ONGC.NS",
    "POWERGRID.NS", "RELIANCE.NS", "SBIN.NS", "SUNPHARMA.NS", "TCS.NS",
    "TATACONSUM.NS", "TATAMOTORS.NS", "TATASTEEL.NS", "TECHM.NS", "TITAN.NS",
    "ULTRACEMCO.NS", "UPL.NS", "WIPRO.NS", "SBILIFE.NS"
]

In [3]:
nifty_midcap_50_stocks = [
    "ABB.NS", "AARTIIND.NS", "ALKEM.NS", "APLAPOLLO.NS", "AUROPHARMA.NS",
    "BALKRISIND.NS", "BANKINDIA.NS", "BATAINDIA.NS", "BEL.NS", "CANBK.NS",
    "CASTROLIND.NS", "CHOLAFIN.NS", "CONCOR.NS", "CROMPTON.NS", "CUB.NS",
    "DALBHARAT.NS", "DEEPAKNTR.NS", "ESCORTS.NS", "FEDERALBNK.NS", "GODREJPROP.NS",
    "HAL.NS", "HINDPETRO.NS", "IDFCFIRSTB.NS", "INDHOTEL.NS", "LICHSGFIN.NS",
    "LTTS.NS", "MANAPPURAM.NS", "M&MFIN.NS", "MFSL.NS", "NAM-INDIA.NS",
    "OBEROIRLTY.NS", "PAGEIND.NS", "PFIZER.NS", "PERSISTENT.NS", "POLYCAB.NS",
    "RAMCOCEM.NS", "SRF.NS", "SUNTV.NS", "SYNGENE.NS", "TORNTPOWER.NS",
    "TRENT.NS", "TVSMOTOR.NS", "UBL.NS", "UNIONBANK.NS", "VOLTAS.NS",
    "WHIRLPOOL.NS", "ZEEL.NS"]

In [4]:
nifty_smallcap_50_stocks = [
    "ALKYLAMINE.NS", "ASTERDM.NS", "BAJAJELEC.NS", "BALAMINES.NS", "BASF.NS",
    "BIRLACORPN.NS", "BLUEDART.NS", "CAMS.NS", "CENTURYPLY.NS", "CREDITACC.NS",
    "DCAL.NS", "DCMSHRIRAM.NS", "DELTACORP.NS", "DISHTV.NS", "EIDPARRY.NS",
    "FLUOROCHEM.NS", "GICRE.NS", "GRAPHITE.NS", "HATSUN.NS", "HIKAL.NS",
    "IIFL.NS", "INDIANB.NS", "INDOCO.NS", "JINDALSAW.NS", "KPRMILL.NS",
    "KRBL.NS", "LAURUSLABS.NS", "MAHSCOOTER.NS", "MASTEK.NS", "METROPOLIS.NS",
    "MMTC.NS", "MPSLTD.NS", "NCC.NS", "ORIENTELEC.NS", "PNBHOUSING.NS",
    "RALLIS.NS", "RITES.NS", "RVNL.NS", "SOBHA.NS", "SOUTHBANK.NS",
    "STLTECH.NS", "SUPRAJIT.NS", "TATAMETALI.NS", "UJJIVAN.NS", "VGUARD.NS",
    "WELCORP.NS", "ZENSARTECH.NS"
]

In [5]:
all_stocks = nifty_50_stocks + nifty_midcap_50_stocks + nifty_smallcap_50_stocks
start_date = "2020-01-01"
end_date = datetime.today().strftime('%Y-%m-%d')
stock_data = yf.download(all_stocks, start=start_date, end=end_date)['Adj Close']

[*********************100%***********************]  142 of 142 completed

2 Failed downloads:
['TATAMETALI.NS']: YFPricesMissingError('$%ticker%: possibly delisted; no price data found  (1d 2020-01-01 -> 2025-01-03)')
['UJJIVAN.NS']: YFPricesMissingError('$%ticker%: possibly delisted; no price data found  (1d 2020-01-01 -> 2025-01-03) (Yahoo error = "No data found, symbol may be delisted")')

In [6]:
stock_data.head()

Ticker,AARTIIND.NS,ABB.NS,ADANIPORTS.NS,ALKEM.NS,ALKYLAMINE.NS,APLAPOLLO.NS,APOLLOHOSP.NS,ASIANPAINT.NS,ASTERDM.NS,AUROPHARMA.NS,...,ULTRACEMCO.NS,UNIONBANK.NS,UPL.NS,VGUARD.NS,VOLTAS.NS,WELCORP.NS,WHIRLPOOL.NS,WIPRO.NS,ZEEL.NS,ZENSARTECH.NS
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-01 00:00:00+00:00,411.987122,1253.960327,364.348297,1993.683960,428.863800,187.353104,1406.192139,1723.836060,124.676620,442.845795,...,3967.757324,48.708157,557.156067,207.986359,636.474060,127.901550,2301.816406,119.537804,278.803925,162.269943
2020-01-02 00:00:00+00:00,413.191925,1258.042847,369.654572,1996.363770,453.728851,188.258804,1473.527100,1721.384888,123.412239,446.229187,...,4143.255859,49.243904,563.975525,210.822769,642.563110,127.335403,2301.273682,119.827377,279.721558,166.803146
2020-01-03 00:00:00+00:00,413.413177,1285.309326,369.027466,2004.978638,453.300140,183.245361,1465.097778,1683.652954,125.749451,444.972534,...,4118.269043,48.886738,559.523987,211.165085,646.606201,129.338623,2289.336670,121.178627,264.363892,176.655930
2020-01-06 00:00:00+00:00,420.912354,1251.044067,366.808502,2000.096680,445.174194,175.747452,1441.831421,1641.114990,127.052147,428.731903,...,4057.654541,47.279499,554.030518,207.203903,633.161682,129.120895,2224.571045,121.685341,252.580032,168.329636
2020-01-07 00:00:00+00:00,438.762817,1270.242310,371.246429,2026.515503,483.913818,182.374313,1457.802490,1657.697266,125.864395,437.335571,...,4140.621094,47.056278,563.596680,207.888550,637.643127,130.427353,2218.602295,123.157257,258.616821,170.226181

In [7]:
stock_data_transposed = stock_data.T

In [8]:
stock_data_transposed.reset_index(inplace=True)

In [9]:
stock_data_transposed.rename(columns={'index': 'Stock Name'}, inplace=True)

In [10]:
stock_data_transposed.head()

Date,Ticker,2020-01-01 00:00:00+00:00,2020-01-02 00:00:00+00:00,2020-01-03 00:00:00+00:00,2020-01-06 00:00:00+00:00,2020-01-07 00:00:00+00:00,2020-01-08 00:00:00+00:00,2020-01-09 00:00:00+00:00,2020-01-10 00:00:00+00:00,2020-01-13 00:00:00+00:00,...,2024-12-19 00:00:00+00:00,2024-12-20 00:00:00+00:00,2024-12-23 00:00:00+00:00,2024-12-24 00:00:00+00:00,2024-12-26 00:00:00+00:00,2024-12-27 00:00:00+00:00,2024-12-30 00:00:00+00:00,2024-12-31 00:00:00+00:00,2025-01-01 00:00:00+00:00,2025-01-02 00:00:00+00:00
0,AARTIIND.NS,411.987122,413.191925,413.413177,420.912354,438.762817,433.083160,452.630157,424.797180,416.634186,...,415.500000,403.850006,409.500000,415.399994,413.250000,411.250000,410.100006,410.049988,416.100006,415.250000
1,ABB.NS,1253.960327,1258.042847,1285.309326,1251.044067,1270.242310,1274.081909,1285.163330,1334.058350,1338.383667,...,7351.899902,6921.250000,6959.200195,6878.200195,6945.299805,6846.899902,6701.950195,6912.250000,6928.450195,6891.700195
2,ADANIPORTS.NS,364.348297,369.654572,369.027466,366.808502,371.246429,372.066528,377.999939,378.241089,376.601013,...,1205.000000,1182.449951,1191.800049,1182.199951,1243.949951,1230.699951,1218.500000,1231.099976,1218.699951,1226.000000
3,ALKEM.NS,1993.683960,1996.363770,2004.978638,2000.096680,2026.515503,2033.120117,2057.049805,2161.192383,2239.346680,...,5494.250000,5427.500000,5481.899902,5406.299805,5408.600098,5482.700195,5569.250000,5633.899902,5571.000000,5579.750000
4,ALKYLAMINE.NS,428.863800,453.728851,453.300140,445.174194,483.913818,481.302551,491.630493,489.623413,485.414307,...,1931.000000,1872.599976,1855.050049,1872.500000,1855.050049,1833.949951,1720.750000,1762.050049,1810.199951,1789.449951

In [11]:
stock_data_transposed.rename(columns={'Ticker': 'Stock Name'}, inplace=True)

In [12]:
stocks = pd.DataFrame(stock_data_transposed)
stocks.head()

Date,Stock Name,2020-01-01 00:00:00+00:00,2020-01-02 00:00:00+00:00,2020-01-03 00:00:00+00:00,2020-01-06 00:00:00+00:00,2020-01-07 00:00:00+00:00,2020-01-08 00:00:00+00:00,2020-01-09 00:00:00+00:00,2020-01-10 00:00:00+00:00,2020-01-13 00:00:00+00:00,...,2024-12-19 00:00:00+00:00,2024-12-20 00:00:00+00:00,2024-12-23 00:00:00+00:00,2024-12-24 00:00:00+00:00,2024-12-26 00:00:00+00:00,2024-12-27 00:00:00+00:00,2024-12-30 00:00:00+00:00,2024-12-31 00:00:00+00:00,2025-01-01 00:00:00+00:00,2025-01-02 00:00:00+00:00
0,AARTIIND.NS,411.987122,413.191925,413.413177,420.912354,438.762817,433.083160,452.630157,424.797180,416.634186,...,415.500000,403.850006,409.500000,415.399994,413.250000,411.250000,410.100006,410.049988,416.100006,415.250000
1,ABB.NS,1253.960327,1258.042847,1285.309326,1251.044067,1270.242310,1274.081909,1285.163330,1334.058350,1338.383667,...,7351.899902,6921.250000,6959.200195,6878.200195,6945.299805,6846.899902,6701.950195,6912.250000,6928.450195,6891.700195
2,ADANIPORTS.NS,364.348297,369.654572,369.027466,366.808502,371.246429,372.066528,377.999939,378.241089,376.601013,...,1205.000000,1182.449951,1191.800049,1182.199951,1243.949951,1230.699951,1218.500000,1231.099976,1218.699951,1226.000000
3,ALKEM.NS,1993.683960,1996.363770,2004.978638,2000.096680,2026.515503,2033.120117,2057.049805,2161.192383,2239.346680,...,5494.250000,5427.500000,5481.899902,5406.299805,5408.600098,5482.700195,5569.250000,5633.899902,5571.000000,5579.750000
4,ALKYLAMINE.NS,428.863800,453.728851,453.300140,445.174194,483.913818,481.302551,491.630493,489.623413,485.414307,...,1931.000000,1872.599976,1855.050049,1872.500000,1855.050049,1833.949951,1720.750000,1762.050049,1810.199951,1789.449951

In [13]:
stocks.to_csv('stocks.csv', index=False)